# States renewable production vs consumption comparison

In [1]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn

In [2]:
# read the production data
production_df = pd.read_excel("db/original-project3-prod-data.xlsx")
production_df.head()

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,CLPRB,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,...,23041.0,29016.0,33556.0,33524.0,31332.000,24917.000,22944.000,17747.000,13942.000,14365.000
1,2017F,AK,CLPRK,15.6,15.6,15.6,15.6,15.6,15.6,15.6,...,15.6,15.6,15.6,15.6,15.268,15.272,15.278,15.073,14.957,14.978
2,2017F,AK,CLPRP,722.0,737.0,871.0,853.0,745.0,893.0,927.0,...,1477.0,1860.0,2151.0,2149.0,2052.000,1632.000,1502.000,1177.000,932.000,959.000
3,2017F,AK,COPRK,5.8,5.8,5.8,5.8,5.8,5.8,5.8,...,5.8,5.8,5.8,5.8,5.800,5.800,5.800,5.717,5.722,5.723
4,2017F,AK,EMFDB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000

In [3]:
# select only renewable type 
production_df = production_df.loc[production_df["MSN"]=="REPRB"]
production_df.head()

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,2017F,AK,REPRB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,2017F,AL,REPRB,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,2017F,AR,REPRB,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,2017F,AZ,REPRB,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,2017F,CA,REPRB,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0

In [4]:
# Drop the columns we don't need
prod_df = production_df.drop(["Data_Status", "MSN"], axis = 1)
prod_df.head()

,StateCode,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,AL,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,144384.0,129673.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,AR,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,46124.0,64986.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,AZ,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,56423.0,63456.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,CA,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,473192.0,397366.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0

In [5]:
# change column name to Sates
prod_df = prod_df.rename(columns={"StateCode": "State"})
prod_df.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,AL,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,144384.0,129673.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,AR,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,46124.0,64986.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,AZ,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,56423.0,63456.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,CA,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,473192.0,397366.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0

In [6]:
# drop US values
prod_df = prod_df.drop(index = 1070)
prod_df.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,AL,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,144384.0,129673.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,AR,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,46124.0,64986.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,AZ,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,56423.0,63456.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,CA,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,473192.0,397366.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0

In [7]:
# Change state abb. to names
dict = {
    "AK": "Alaska", "AL":"Alabama", "AR": "Arkansas", "AZ": "Arizona", "CA": "California","CO": "Colorado", "CT": "Connecticut",
"DC": "District of Columbia","DE":"Delaware","FL":"Florida","GA": "Georgia",
"HI":"Hawaii","IA": "Iowa","ID":"Idaho","IL": "Illinois","IN":"Indiana",
"KS": "Kansas","KY" :"Kentucky","LA": "Louisiana","MA":"Massachusetts","MD":"Maryland",
"ME" :"Maine","MI":"Michigan","MN":"Minnesota","MO": "Missouri","MS" : "Mississippi","MT":"Montana",
"NC": "North Carolina","ND": "North Dakota","NE":"Nebraska","NH":"New Hampshire","NJ":"New Jersey","NM": "New Mexico",
"NV": "Nevada","NY": "New York","OH": "Ohio","OK": "Oklahoma","OR": "Oregon","PA":"Pennsylvania",
"RI":"Rhode Island","SC": "South Carolina","SD":"South Dakota","TN": "Tennessee","TX": "Texas",
"UT": "Utah","VA": "Virginia","VT":"Vermont","WA":"Washington","WI":"Wisconsin",
"WV": "West Virginia","WY":"Wyoming"
}
prod_df["State"] = prod_df["State"].map(dict)
prod_df.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,Alaska,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,Alabama,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,144384.0,129673.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,Arkansas,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,46124.0,64986.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,Arizona,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,56423.0,63456.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,California,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,473192.0,397366.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0

In [8]:
# convert the data change columns to rows so our data is linear

prod_df = prod_df.melt(id_vars=["State"], 
        var_name="Year", 
        value_name="Prod Data")
pd.set_option('display.max_rows', None)
prod_df.head()

        State  Year  Prod Data
0      Alaska  1960     6800.0
1     Alabama  1960   112809.0
2    Arkansas  1960    48104.0
3     Arizona  1960    36181.0
4  California  1960   270161.0

In [9]:
prod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 3 columns):
State        2958 non-null object
Year         2958 non-null object
Prod Data    2958 non-null float64
dtypes: float64(1), object(2)
memory usage: 69.5+ KB

In [10]:
# read the consumption data
# Read the consumption data
consumption_df = pd.read_csv("db/use_all_btu.csv")
consumption_df.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,ABICB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,-14.0,-4.0,0.0,0.0,-5.0,-2.0,-3.0,-3.0,-2.0
1,2017F,AK,ARICB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
2,2017F,AK,ARTCB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
3,2017F,AK,ARTXB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
4,2017F,AK,AVACB,5209.0,6441.0,5202.0,3273.0,2319.0,1478.0,1086.0,...,1008.0,1095.0,854.0,801.0,776.0,701.0,658.0,317.0,137.0,214.0

In [11]:
# Select oly total consumed energy type only
consumption_df = consumption_df.loc[consumption_df["MSN"] == "TETCB"]
consumption_df.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
170,2017F,AK,TETCB,61433.0,72173.0,78812.0,80788.0,85067.0,87782.0,102696.0,...,650286.0,639551.0,655575.0,655820.0,651177.0,618287.0,605250.0,622786.0,605930.0,608135.0
372,2017F,AL,TETCB,866594.0,831311.0,881239.0,913155.0,979212.0,1044616.0,1088204.0,...,2002425.0,1800022.0,1942109.0,1916766.0,1890045.0,1933718.0,1970357.0,1923918.0,1928825.0,1900936.0
574,2017F,AR,TETCB,425974.0,431586.0,456788.0,484672.0,527123.0,528740.0,566110.0,...,1109695.0,1041554.0,1126984.0,1129108.0,1072603.0,1104570.0,1121882.0,1062224.0,1054180.0,1057643.0
776,2017F,AZ,TETCB,282993.0,304835.0,324913.0,348302.0,369663.0,375200.0,403460.0,...,1465317.0,1379971.0,1383847.0,1424223.0,1394090.0,1411591.0,1420245.0,1442394.0,1473676.0,1475387.0
978,2017F,CA,TETCB,3449919.0,3609108.0,3724117.0,3923736.0,4219633.0,4385719.0,4645217.0,...,8075576.0,7774309.0,7760676.0,7768794.0,7549440.0,7638003.0,7584837.0,7672710.0,7819232.0,7881348.0

In [12]:
# Drop unnecessary columns
cons_df = consumption_df.drop(["Data_Status", "MSN"], axis = 1)
cons_df.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
170,AK,61433.0,72173.0,78812.0,80788.0,85067.0,87782.0,102696.0,115172.0,122533.0,...,650286.0,639551.0,655575.0,655820.0,651177.0,618287.0,605250.0,622786.0,605930.0,608135.0
372,AL,866594.0,831311.0,881239.0,913155.0,979212.0,1044616.0,1088204.0,1138573.0,1246669.0,...,2002425.0,1800022.0,1942109.0,1916766.0,1890045.0,1933718.0,1970357.0,1923918.0,1928825.0,1900936.0
574,AR,425974.0,431586.0,456788.0,484672.0,527123.0,528740.0,566110.0,596737.0,635396.0,...,1109695.0,1041554.0,1126984.0,1129108.0,1072603.0,1104570.0,1121882.0,1062224.0,1054180.0,1057643.0
776,AZ,282993.0,304835.0,324913.0,348302.0,369663.0,375200.0,403460.0,414501.0,456156.0,...,1465317.0,1379971.0,1383847.0,1424223.0,1394090.0,1411591.0,1420245.0,1442394.0,1473676.0,1475387.0
978,CA,3449919.0,3609108.0,3724117.0,3923736.0,4219633.0,4385719.0,4645217.0,4841003.0,5115122.0,...,8075576.0,7774309.0,7760676.0,7768794.0,7549440.0,7638003.0,7584837.0,7672710.0,7819232.0,7881348.0

In [13]:
# remove US values by index number
cons_df = cons_df.drop(index=9061)
cons_df.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
170,AK,61433.0,72173.0,78812.0,80788.0,85067.0,87782.0,102696.0,115172.0,122533.0,...,650286.0,639551.0,655575.0,655820.0,651177.0,618287.0,605250.0,622786.0,605930.0,608135.0
372,AL,866594.0,831311.0,881239.0,913155.0,979212.0,1044616.0,1088204.0,1138573.0,1246669.0,...,2002425.0,1800022.0,1942109.0,1916766.0,1890045.0,1933718.0,1970357.0,1923918.0,1928825.0,1900936.0
574,AR,425974.0,431586.0,456788.0,484672.0,527123.0,528740.0,566110.0,596737.0,635396.0,...,1109695.0,1041554.0,1126984.0,1129108.0,1072603.0,1104570.0,1121882.0,1062224.0,1054180.0,1057643.0
776,AZ,282993.0,304835.0,324913.0,348302.0,369663.0,375200.0,403460.0,414501.0,456156.0,...,1465317.0,1379971.0,1383847.0,1424223.0,1394090.0,1411591.0,1420245.0,1442394.0,1473676.0,1475387.0
978,CA,3449919.0,3609108.0,3724117.0,3923736.0,4219633.0,4385719.0,4645217.0,4841003.0,5115122.0,...,8075576.0,7774309.0,7760676.0,7768794.0,7549440.0,7638003.0,7584837.0,7672710.0,7819232.0,7881348.0

In [14]:
dict = {
    "AK": "Alaska", "AL":"Alabama", "AR": "Arkansas", "AZ": "Arizona", "CA": "California","CO": "Colorado", "CT": "Connecticut",
"DC": "District of Columbia","DE":"Delaware","FL":"Florida","GA": "Georgia",
"HI":"Hawaii","IA": "Iowa","ID":"Idaho","IL": "Illinois","IN":"Indiana",
"KS": "Kansas","KY" :"Kentucky","LA": "Louisiana","MA":"Massachusetts","MD":"Maryland",
"ME" :"Maine","MI":"Michigan","MN":"Minnesota","MO": "Missouri","MS" : "Mississippi","MT":"Montana",
"NC": "North Carolina","ND": "North Dakota","NE":"Nebraska","NH":"New Hampshire","NJ":"New Jersey","NM": "New Mexico",
"NV": "Nevada","NY": "New York","OH": "Ohio","OK": "Oklahoma","OR": "Oregon","PA":"Pennsylvania",
"RI":"Rhode Island","SC": "South Carolina","SD":"South Dakota","TN": "Tennessee","TX": "Texas",
"UT": "Utah","VA": "Virginia","VT":"Vermont","WA":"Washington","WI":"Wisconsin",
"WV": "West Virginia","WY":"Wyoming"
}
cons_df["State"] = cons_df["State"].map(dict)
cons_df.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
170,Alaska,61433.0,72173.0,78812.0,80788.0,85067.0,87782.0,102696.0,115172.0,122533.0,...,650286.0,639551.0,655575.0,655820.0,651177.0,618287.0,605250.0,622786.0,605930.0,608135.0
372,Alabama,866594.0,831311.0,881239.0,913155.0,979212.0,1044616.0,1088204.0,1138573.0,1246669.0,...,2002425.0,1800022.0,1942109.0,1916766.0,1890045.0,1933718.0,1970357.0,1923918.0,1928825.0,1900936.0
574,Arkansas,425974.0,431586.0,456788.0,484672.0,527123.0,528740.0,566110.0,596737.0,635396.0,...,1109695.0,1041554.0,1126984.0,1129108.0,1072603.0,1104570.0,1121882.0,1062224.0,1054180.0,1057643.0
776,Arizona,282993.0,304835.0,324913.0,348302.0,369663.0,375200.0,403460.0,414501.0,456156.0,...,1465317.0,1379971.0,1383847.0,1424223.0,1394090.0,1411591.0,1420245.0,1442394.0,1473676.0,1475387.0
978,California,3449919.0,3609108.0,3724117.0,3923736.0,4219633.0,4385719.0,4645217.0,4841003.0,5115122.0,...,8075576.0,7774309.0,7760676.0,7768794.0,7549440.0,7638003.0,7584837.0,7672710.0,7819232.0,7881348.0

In [15]:
# convert the data change columns to rows so our data is linear

cons_df = cons_df.melt(id_vars=["State"], 
        var_name="Year", 
        value_name="Cons Data")
pd.set_option('display.max_rows', None)
cons_df.head()

        State  Year  Cons Data
0      Alaska  1960    61433.0
1     Alabama  1960   866594.0
2    Arkansas  1960   425974.0
3     Arizona  1960   282993.0
4  California  1960  3449919.0

In [16]:
# Change data types
cons_df["Year"]=cons_df["Year"].astype(str).astype(int)
cons_df.info()

prod_df["Year"] = prod_df["Year"].astype(str).astype(int)
prod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 3 columns):
State        2958 non-null object
Year         2958 non-null int64
Cons Data    2958 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 69.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 3 columns):
State        2958 non-null object
Year         2958 non-null int64
Prod Data    2958 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 69.5+ KB

In [17]:
# Merge the two dataframes
states_comparison_df = pd.merge(prod_df, cons_df, on=["State", "Year"])
states_comparison_df.head()

        State  Year  Prod Data  Cons Data
0      Alaska  1960     6800.0    61433.0
1     Alabama  1960   112809.0   866594.0
2    Arkansas  1960    48104.0   425974.0
3     Arizona  1960    36181.0   282993.0
4  California  1960   270161.0  3449919.0

In [18]:
# check data types
states_comparison_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2958 entries, 0 to 2957
Data columns (total 4 columns):
State        2958 non-null object
Year         2958 non-null int64
Prod Data    2958 non-null float64
Cons Data    2958 non-null float64
dtypes: float64(2), int64(1), object(1)
memory usage: 115.5+ KB

In [19]:
# add a column for difference
states_comparison_df["Difference"] = states_comparison_df["Prod Data"] - states_comparison_df["Cons Data"]
states_comparison_df.head(10)

                  State  Year  Prod Data  Cons Data  Difference
0                Alaska  1960     6800.0    61433.0    -54633.0
1               Alabama  1960   112809.0   866594.0   -753785.0
2              Arkansas  1960    48104.0   425974.0   -377870.0
3               Arizona  1960    36181.0   282993.0   -246812.0
4            California  1960   270161.0  3449919.0  -3179758.0
5              Colorado  1960    16914.0   424556.0   -407642.0
6           Connecticut  1960    17406.0   507999.0   -490593.0
7  District of Columbia  1960      155.0   119871.0   -119716.0
8              Delaware  1960     4982.0   156406.0   -151424.0
9               Florida  1960    35680.0   809559.0   -773879.0

In [20]:
# Save the dataframe as csv
states_comparison_df.to_csv("db/states_comparison.csv")