# Compare renewable production vs consumption for US

In [1]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn

In [2]:
# read the production data
production_df = pd.read_excel("db/original-project3-prod-data.xlsx")
production_df

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,CLPRB,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,...,23041.0,29016.0,33556.0,33524.0,31332.000,24917.000,22944.000,17747.000,13942.000,14365.000
1,2017F,AK,CLPRK,15.6,15.6,15.6,15.6,15.6,15.6,15.6,...,15.6,15.6,15.6,15.6,15.268,15.272,15.278,15.073,14.957,14.978
2,2017F,AK,CLPRP,722.0,737.0,871.0,853.0,745.0,893.0,927.0,...,1477.0,1860.0,2151.0,2149.0,2052.000,1632.000,1502.000,1177.000,932.000,959.000
3,2017F,AK,COPRK,5.8,5.8,5.8,5.8,5.8,5.8,5.8,...,5.8,5.8,5.8,5.8,5.800,5.800,5.800,5.717,5.722,5.723
4,2017F,AK,EMFDB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2017F,X3,TEPRB,530978.0,674013.0,918907.0,1147416.0,1321824.0,1568087.0,2059270.0,...,4843547.0,5804718.0,5587631.0,4636606.0,4349890.000,4094355.000,4352231.000,4601169.000,4689893.000,4725213.000
1255,2017F,X5,COPRK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.8,5.8,5.8,5.8,5.800,5.800,5.800,5.717,5.722,5.723
1256,2017F,X5,PAPRB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,139368.0,129375.0,125901.0,114939.0,102532.000,107642.000,107196.000,65431.000,35150.000,32695.000
1257,2017F,X5,PAPRP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,24029.0,22306.0,21707.0,19817.0,17678.000,18559.000,18482.000,11445.000,6143.000,5713.000
1258,2017F,X5,TEPRB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,139368.0,129375.0,125901.0,114939.0,102532.000,107642.000,107196.000,65431.000,35150.000,32695.000

In [3]:
# select only renewable type 
production_df = production_df.loc[production_df["MSN"]=="REPRB"]
production_df

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
14,2017F,AK,REPRB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
38,2017F,AL,REPRB,112809.0,118021.0,125564.0,112682.0,137992.0,121888.0,121238.0,...,233379.0,264487.0,242243.0,255849.0,242062.0,310497.0,268440.0,257022.0,228840.0,255547.0
62,2017F,AR,REPRB,48104.0,51144.0,47637.0,41897.0,42732.0,46425.0,51697.0,...,123354.0,124205.0,125229.0,121171.0,111565.0,116588.0,116381.0,113410.0,110079.0,109448.0
86,2017F,AZ,REPRB,36181.0,35083.0,34533.0,34861.0,34271.0,50095.0,58060.0,...,96341.0,80680.0,85935.0,113360.0,98806.0,98826.0,120013.0,129241.0,139197.0,148680.0
110,2017F,CA,REPRB,270161.0,248178.0,329046.0,360333.0,331757.0,418518.0,375877.0,...,603931.0,646780.0,715550.0,837314.0,703607.0,741782.0,746468.0,734669.0,927056.0,1115301.0
134,2017F,CO,REPRB,16914.0,15464.0,17144.0,17410.0,17865.0,16369.0,17380.0,...,80070.0,80116.0,82190.0,104147.0,102686.0,116979.0,125648.0,123964.0,147633.0,150812.0
158,2017F,CT,REPRB,17406.0,17076.0,15937.0,16253.0,16703.0,15500.0,16243.0,...,26251.0,29431.0,30302.0,30578.0,26741.0,29330.0,32031.0,32518.0,32788.0,32292.0
182,2017F,DC,REPRB,155.0,163.0,166.0,148.0,138.0,120.0,111.0,...,65.0,49.0,114.0,290.0,285.0,305.0,344.0,824.0,1107.0,1316.0
206,2017F,DE,REPRB,4982.0,5101.0,5134.0,5356.0,5510.0,5577.0,5852.0,...,2952.0,3577.0,3838.0,4172.0,3581.0,3795.0,4224.0,3516.0,3110.0,3279.0
230,2017F,FL,REPRB,35680.0,34417.0,35826.0,38613.0,39016.0,39916.0,42760.0,...,195232.0,213645.0,230259.0,227710.0,223034.0,232984.0,230273.0,223068.0,222760.0,237547.0
254,2017F,GA,REPRB,96016.0,94590.0,96771.0,103171.0,118296.0,108022.0,109456.0,...,173103.0,194267.0,221049.0,221094.0,207555.0,248055.0,268077.0,270454.0,281682.0,271817.0
278,2017F,HI,REPRB,292.0,258.0,214.0,446.0,1429.0,1265.0,1309.0,...,15921.0,15815.0,15253.0,16647.0,18206.0,22392.0,24081.0,24570.0,27136.0,26432.0
302,2017F,IA,REPRB,15884.0,15713.0,15580.0,13403.0,12798.0,15160.0,14994.0,...,398848.0,536832.0,628026.0,635532.0,632998.0,674967.0,711529.0,716209.0,755504.0,780543.0
326,2017F,ID,REPRB,77688.0,70403.0,73984.0,73227.0,76892.0,79778.0,81379.0,...,133541.0,134502.0,133288.0,177643.0,155318.0,139239.0,155418.0,152332.0,150622.0,171224.0
350,2017F,IL,REPRB,33020.0,32237.0,32864.0,34418.0,34491.0,35036.0,37080.0,...,195287.0,245581.0,266552.0,267046.0,278334.0,296306.0,307336.0,326171.0,340351.0,370323.0
374,2017F,IN,REPRB,24556.0,24199.0,24089.0,24007.0,23168.0,23060.0,24315.0,...,123765.0,150685.0,182590.0,203475.0,196823.0,202498.0,216537.0,240501.0,250599.0,249549.0
398,2017F,KS,REPRB,4123.0,3855.0,3670.0,3798.0,3674.0,3499.0,3529.0,...,85129.0,91075.0,103639.0,107388.0,116099.0,160571.0,184720.0,180083.0,206745.0,247455.0
422,2017F,KY,REPRB,50751.0,48648.0,51423.0,47591.0,47022.0,47438.0,49311.0,...,57940.0,69913.0,69567.0,73437.0,62906.0,77277.0,78346.0,71954.0,72268.0,82345.0
446,2017F,LA,REPRB,38992.0,37174.0,36785.0,39147.0,39291.0,38299.0,39754.0,...,109415.0,107145.0,113338.0,112056.0,109068.0,126191.0,149570.0,132249.0,154745.0,232508.0
470,2017F,MA,REPRB,53354.0,52769.0,53590.0,52762.0,54148.0,55636.0,58117.0,...,42737.0,49334.0,50641.0,53107.0,49956.0,57006.0,62195.0,62750.0,65619.0,72448.0
494,2017F,MD,REPRB,38447.0,35723.0,36002.0,35457.0,37440.0,39019.0,42103.0,...,44674.0,48414.0,48629.0,57677.0,48847.0,53519.0,53166.0,47613.0,48271.0,55447.0
518,2017F,ME,REPRB,59784.0,56575.0,55672.0,58874.0,55936.0,51675.0,55812.0,...,182576.0,148204.0,158991.0,161551.0,157320.0,161662.0,157402.0,161374.0,142003.0,152720.0
542,2017F,MI,REPRB,59100.0,55209.0,53745.0,51374.0,52769.0,55858.0,56828.0,...,145004.0,131134.0,147388.0,161900.0,161289.0,187710.0,201936.0,221437.0,214332.0,229236.0
566,2017F,MN,REPRB,34957.0,32478.0,34382.0,32328.0,33210.0,34786.0,35031.0,...,215093.0,258579.0,294856.0,306313.0,302196.0,299308.0,338225.0,337359.0,343924.0,359770.0
590,2017F,MO,REPRB,41442.0,45068.0,40239.0,33299.0,31229.0,35404.0,33010.0,...,81692.0,93684.0,100502.0,92915.0,81615.0,93586.0,92706.0,86217.0,82217.0,90657.0
614,2017F,MS,REPRB,46565.0,45532.0,44673.0,39154.0,38448.0,37759.0,37816.0,...,47430.0,53654.0,65115.0,65786.0,77009.0,59580.0,60846.0,58853.0,70822.0,67018.0
638,2017F,MT,REPRB,69936.0,76550.0,74894.0,70429.0,79375.0,95505.0,90332.0,...,123131.0,113797.0,114783.0,140363.0,124377.0,114499.0,134146.0,125018.0,128174.0,135969.0
662,2017F,NC,REPRB,127507.0,120692.0,127402.0,116481.0,131745.0,123608.0,114335.0,...,142703.0,148501.0,157297.0,155603.0,152791.0,191664.0,173371.0,169752.0,199156.0,217876.0
686,2017F,ND,REPRB,11880.0,15420.0,14054.0,15915.0,20014.0,26438.0,20421.0,...,52893.0,82230.0,112921.0,132923.0,126746.0,124088.0,138189.0,143323.0,161292.0,197466.0
710,2017F,NE,REPRB,13425.0,12832.0,12973.0,13199.0,12801.0,13563.0,13955.0,...,176747.0,178644.0,269110.0,301952.0,277782.0,281464.0,288402.0,311010.0,323506.0,359399.0
734,2017F,NH,REPRB,25629.0,23327.0,25119.0,24450.0,23707.0,22019.0,24343.0,...,39884.0,45367.0,45146.0,46133.0,44473.0,52696.0,55352.0,61080.0,55963.0,59271.0
758,2017F,NJ,REPRB,20514.0,20749.0,21199.0,23397.0,23947.0,23693.0,23570.0,...,23182.0,33864.0,37292.0,38875.0,43627.0,49545.0,54088.0,44010.0,45313.0,47987.0
782,2017F,NM,REPRB,7373.0,6937.0,6791.0,6469.0,6300.0,6075.0,6210.0,...,35347.0,30999.0,34549.0,37067.0,38061.0,39658.0,41845.0,38810.0,54886.0,67517.0
806,2017F,NV,REPRB,22110.0,19545.0,21733.0,19804.0,17842.0,17544.0,19632.0,...,37854.0,46712.0,48923.0,50232.0,56557.0,66491.0,67475.0,75367.0,88596.0,98186.0
830,2017F,NY,REPRB,189314.0,250832.0,277979.0,260059.0,247409.0,262743.0,288582.0,...,399128.0,369894.0,366880.0,404215.0,364204.0,382017.0,401200.0,412364.0,414741.0,450661.0
854,2017F,OH,REPRB,36966.0,36414.0,36983.0,38172.0,38010.0,38720.0,41531.0,...,106536.0,94868.0,122121.0,130880.0,133121.0,149653.0,158948.0,153704.0,151416.0,153613.0
878,2017F,OK,REPRB,17766.0,20187.0,16660.0,10640.0,11373.0,16230.0,13064.0,...,73670.0,79395.0,94855.0,99265.0,119647.0,161105.0,159107.0,183713.0,239124.0,263497.0
902,2017F,OR,REPRB,190489.0,188915.0,197646.0,199225.0,215793.0,230410.0,232649.0,...,414463.0,415648.0,399550.0,518190.0,499340.0,462978.0,484169.0,438006.0,467465.0,494569.0
926,2017F,PA,REPRB,66100.0,61121.0,61767.0,60798.0,60590.0,61262.0,63676.0,...,114904.0,126256.0,158384.0,180128.0,167209.0,197054.0,195875.0,199452.0,193215.0,201490.0
950,2017F,RI,REPRB,2951.0,3011.0,3139.0,3221.0,3533.0,3561.0,3771.0,...,2947.0,3544.0,3704.0,3653.0,2934.0,2658.0,4381.0,4793.0,4579.0,5816.0
974,2017F,SC,REPRB,81969.0,76284.0,73455.0,69832.0,87558.0,77346.0,67699.0,...,92008.0,102995.0,115289.0,116354.0,118029.0,133966.0,136701.0,128290.0,131055.0,130212.0
998,2017F,SD,REPRB,13974.0,13609.0,17252.0,31784.0,33645.0,41595.0,51565.0,...,144310.0,179345.0,214651.0,237405.0,217909.0,209519.0,222713.0,217615.0,226440.0,225550.0
1022,2017F,TN,REPRB,138708.0,136653.0,145125.0,127030.0,141564.0,138006.0,128629.0,...,133932.0,179058.0,168470.0,184654.0,173097.0,216816.0,186218.0,189204.0,159629.0,176274.0
1046,2017F,TX,REPRB,50155.0,52023.0,47721.0,42718.0,43884.0,48967.0,51980.0,...,298470.0,295329.0,392977.0,440763.0,452930.0,476268.0,529818.0,567922.0,691225.0,786173.0
1070,2017F,US,REPRB,2928205.0,2952227.0,3117444.0,3096431.0,3225249.0,3395816.0,3432463.0,...,7103829.0,7558189.0,8269334.0,9174397.0,8757864.0,9242048.0,9600941.0,9565096.0,10225357.0,11094237.0
1094,2017F,UT,REPRB,5494.0,4591.0,6192.0,5699.0,10151.0,11501.0,10173.0,...,13953.0,15951.0,17678.0,24387.0,20555.0,17050.0,21559.0,23983.0,36584.0,53343.0
1118,2017F,VA,REPRB,69706.0,66456.0,67678.0,64267.0,63580.0,63439.0,64055.0,...,117389.0,114854.0,110535.0,104678.0,102113.0,117964.0,136422.0,138276.0,139697.0,138386.0
1142,2017F,VT,REPRB,17339.0,15369.0,15682.0,13995.0,13500.0,14396.0,15557.0,...,27030.0,31572.0,32420.0,30555.0,26308.0,33314.0,32831.0,38784.0,35725.0,38044.0
1166,2017F,WA,REPRB,428129.0,455762.0,476680.0,514264.0,557343.0,581530.0,617245.0,...,879243.0,832048.0,821250.0,1058845.0,1016868.0,921960.0,934976.0,865077.0,922592.0,942447.0
1190,2017F,WI,REPRB,64968.0,60619.0,61695.0,55114.0,54980.0,61690.0,60892.0,...,176510.0,170788.0,207825.0,205632.0,195099.0,203268.0,213404.0,215710.0,216096.0,215300.0
1214,2017F,WV,REPRB,23464.0,23666.0,23755.0,21029.0,21666.0,20560.0,20101.0,...,29247.0,45048.0,45978.0,47220.0,44878.0,53863.0,50019.0,37953.0,39714.0,41831.0
1238,2017F,WY,REPRB,8174.0,8273.0,11746.0,10641.0,10613.0,10793.0,11106.0,...,21703.0,34009.0,44696.0,60191.0,53505.0,52908.0,54028.0,49730.0,54591.0,55968.0

In [4]:
# select us total renewable data
production_df = production_df.loc[production_df["StateCode"] == "US"]
production_df

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1070,2017F,US,REPRB,2928205.0,2952227.0,3117444.0,3096431.0,3225249.0,3395816.0,3432463.0,...,7103829.0,7558189.0,8269334.0,9174397.0,8757864.0,9242048.0,9600941.0,9565096.0,10225357.0,11094237.0

In [5]:
# Drop the columns we don't need
prod_df = production_df.drop(["Data_Status", "StateCode", "MSN"], axis = 1)
prod_df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1070,2928205.0,2952227.0,3117444.0,3096431.0,3225249.0,3395816.0,3432463.0,3690213.0,3772655.0,4094893.0,...,7103829.0,7558189.0,8269334.0,9174397.0,8757864.0,9242048.0,9600941.0,9565096.0,10225357.0,11094237.0

In [6]:
# convert columns to rows 
prod_data_df = prod_df.melt(var_name= "Year", 
        value_name="Prod Data")
pd.set_option('display.max_rows', None)
prod_data_df.head()

   Year  Prod Data
0  1960  2928205.0
1  1961  2952227.0
2  1962  3117444.0
3  1963  3096431.0
4  1964  3225249.0

In [7]:
prod_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
Year         58 non-null object
Prod Data    58 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.0+ KB

In [8]:
# change data type of the year column
prod_data_df["Year"] = prod_data_df["Year"].astype(str).astype(int)
prod_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
Year         58 non-null int64
Prod Data    58 non-null float64
dtypes: float64(1), int64(1)
memory usage: 1.0 KB

In [9]:
# Read the consumption data
consumption_df = pd.read_csv("db/use_all_btu.csv")
consumption_df.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,ABICB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,-14.0,-4.0,0.0,0.0,-5.0,-2.0,-3.0,-3.0,-2.0
1,2017F,AK,ARICB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
2,2017F,AK,ARTCB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
3,2017F,AK,ARTXB,312.0,555.0,489.0,589.0,791.0,878.0,1646.0,...,547.0,10198.0,12644.0,14931.0,14343.0,12763.0,12335.0,12450.0,12365.0,13561.0
4,2017F,AK,AVACB,5209.0,6441.0,5202.0,3273.0,2319.0,1478.0,1086.0,...,1008.0,1095.0,854.0,801.0,776.0,701.0,658.0,317.0,137.0,214.0

In [10]:
# Select oly total consumed energy type only
consumption_df = consumption_df.loc[consumption_df["MSN"] == "TETCB"]
consumption_df.head()

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
170,2017F,AK,TETCB,61433.0,72173.0,78812.0,80788.0,85067.0,87782.0,102696.0,...,650286.0,639551.0,655575.0,655820.0,651177.0,618287.0,605250.0,622786.0,605930.0,608135.0
372,2017F,AL,TETCB,866594.0,831311.0,881239.0,913155.0,979212.0,1044616.0,1088204.0,...,2002425.0,1800022.0,1942109.0,1916766.0,1890045.0,1933718.0,1970357.0,1923918.0,1928825.0,1900936.0
574,2017F,AR,TETCB,425974.0,431586.0,456788.0,484672.0,527123.0,528740.0,566110.0,...,1109695.0,1041554.0,1126984.0,1129108.0,1072603.0,1104570.0,1121882.0,1062224.0,1054180.0,1057643.0
776,2017F,AZ,TETCB,282993.0,304835.0,324913.0,348302.0,369663.0,375200.0,403460.0,...,1465317.0,1379971.0,1383847.0,1424223.0,1394090.0,1411591.0,1420245.0,1442394.0,1473676.0,1475387.0
978,2017F,CA,TETCB,3449919.0,3609108.0,3724117.0,3923736.0,4219633.0,4385719.0,4645217.0,...,8075576.0,7774309.0,7760676.0,7768794.0,7549440.0,7638003.0,7584837.0,7672710.0,7819232.0,7881348.0

In [11]:
# Select tottal US consumption
consumption_df = consumption_df.loc[consumption_df["State"] == "US"]
consumption_df

,Data_Status,State,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
9061,2017F,US,TETCB,45033606.0,45684153.0,47773067.0,49605630.0,51766732.0,53965864.0,56960904.0,...,98724712.0,93965172.0,97515551.0,96852601.0,94367771.0,97099401.0,98267257.0,97364113.0,97230097.0,97621515.0

In [12]:
# Drop unnecessary columns
cons_df = consumption_df.drop(["Data_Status", "State", "MSN"], axis = 1)
cons_df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
9061,45033606.0,45684153.0,47773067.0,49605630.0,51766732.0,53965864.0,56960904.0,58916870.0,62401694.0,65578920.0,...,98724712.0,93965172.0,97515551.0,96852601.0,94367771.0,97099401.0,98267257.0,97364113.0,97230097.0,97621515.0

In [13]:
# convert rows and columns
cons_data_df = cons_df.melt(var_name= "Year", 
        value_name="Cons Data")
pd.set_option('display.max_rows', None)
cons_data_df.head()

   Year   Cons Data
0  1960  45033606.0
1  1961  45684153.0
2  1962  47773067.0
3  1963  49605630.0
4  1964  51766732.0

In [14]:
# see the dataframe info
cons_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
Year         58 non-null object
Cons Data    58 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.0+ KB

In [15]:
# convert year data type to integer

cons_data_df["Year"] = cons_data_df["Year"].astype(str).astype(int)
prod_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 2 columns):
Year         58 non-null int64
Prod Data    58 non-null float64
dtypes: float64(1), int64(1)
memory usage: 1.0 KB

In [16]:
# join prodoction and consumption dataFrames
us_comparison_df = pd.merge(prod_data_df, cons_data_df, on="Year")
us_comparison_df

    Year   Prod Data    Cons Data
0   1960   2928205.0   45033606.0
1   1961   2952227.0   45684153.0
2   1962   3117444.0   47773067.0
3   1963   3096431.0   49605630.0
4   1964   3225249.0   51766732.0
5   1965   3395816.0   53965864.0
6   1966   3432463.0   56960904.0
7   1967   3690213.0   58916870.0
8   1968   3772655.0   62401694.0
9   1969   4094893.0   65578920.0
10  1970   4070021.0   67720114.0
11  1971   4262212.0   69163993.0
12  1972   4382009.0   72677208.0
13  1973   4410938.0   75723857.0
14  1974   4741851.0   73914525.0
15  1975   4687119.0   71953031.0
16  1976   4727151.0   75966653.0
17  1977   4208966.0   77946963.0
18  1978   5005439.0   79978066.0
19  1979   5122854.0   80836123.0
20  1980   5424534.0   78047744.0
21  1981   5417152.0   76093930.0
22  1982   5980929.0   73006442.0
23  1983   6495613.0   72879382.0
24  1984   6438346.0   76510942.0
25  1985   6084016.0   76406632.0
26  1986   6111140.0   76592009.0
27  1987   5624499.0   78960216.0
28  1988   5456756.0   82711222.0
29  1989   6234663.0   84731901.0
30  1990   6041896.0   84455290.0
31  1991   6067786.0   84379011.0
32  1992   5820551.0   85731655.0
33  1993   6079641.0   87294876.0
34  1994   5987153.0   89010843.0
35  1995   6557307.0   90994772.0
36  1996   7010888.0   94005089.0
37  1997   7014328.0   94656462.0
38  1998   6492764.0   94933435.0
39  1999   6516554.0   96525795.0
40  2000   6101704.0   98694694.0
41  2001   5165027.0   96037904.0
42  2002   5729545.0   97540330.0
43  2003   5940633.0   97833112.0
44  2004   6059052.0  100010334.0
45  2005   6207525.0  100097668.0
46  2006   6553848.0   99354258.0
47  2007   6447005.0  100870038.0
48  2008   7103829.0   98724712.0
49  2009   7558189.0   93965172.0
50  2010   8269334.0   97515551.0
51  2011   9174397.0   96852601.0
52  2012   8757864.0   94367771.0
53  2013   9242048.0   97099401.0
54  2014   9600941.0   98267257.0
55  2015   9565096.0   97364113.0
56  2016  10225357.0   97230097.0
57  2017  11094237.0   97621515.0

In [17]:
# Add a new column to label if production can meet the consumption values
us_comparison_df["Status"] = np.where(us_comparison_df["Prod Data"] > us_comparison_df["Cons Data"], 1, 0)
us_comparison_df

    Year   Prod Data    Cons Data  Status
0   1960   2928205.0   45033606.0       0
1   1961   2952227.0   45684153.0       0
2   1962   3117444.0   47773067.0       0
3   1963   3096431.0   49605630.0       0
4   1964   3225249.0   51766732.0       0
5   1965   3395816.0   53965864.0       0
6   1966   3432463.0   56960904.0       0
7   1967   3690213.0   58916870.0       0
8   1968   3772655.0   62401694.0       0
9   1969   4094893.0   65578920.0       0
10  1970   4070021.0   67720114.0       0
11  1971   4262212.0   69163993.0       0
12  1972   4382009.0   72677208.0       0
13  1973   4410938.0   75723857.0       0
14  1974   4741851.0   73914525.0       0
15  1975   4687119.0   71953031.0       0
16  1976   4727151.0   75966653.0       0
17  1977   4208966.0   77946963.0       0
18  1978   5005439.0   79978066.0       0
19  1979   5122854.0   80836123.0       0
20  1980   5424534.0   78047744.0       0
21  1981   5417152.0   76093930.0       0
22  1982   5980929.0   73006442.0       0
23  1983   6495613.0   72879382.0       0
24  1984   6438346.0   76510942.0       0
25  1985   6084016.0   76406632.0       0
26  1986   6111140.0   76592009.0       0
27  1987   5624499.0   78960216.0       0
28  1988   5456756.0   82711222.0       0
29  1989   6234663.0   84731901.0       0
30  1990   6041896.0   84455290.0       0
31  1991   6067786.0   84379011.0       0
32  1992   5820551.0   85731655.0       0
33  1993   6079641.0   87294876.0       0
34  1994   5987153.0   89010843.0       0
35  1995   6557307.0   90994772.0       0
36  1996   7010888.0   94005089.0       0
37  1997   7014328.0   94656462.0       0
38  1998   6492764.0   94933435.0       0
39  1999   6516554.0   96525795.0       0
40  2000   6101704.0   98694694.0       0
41  2001   5165027.0   96037904.0       0
42  2002   5729545.0   97540330.0       0
43  2003   5940633.0   97833112.0       0
44  2004   6059052.0  100010334.0       0
45  2005   6207525.0  100097668.0       0
46  2006   6553848.0   99354258.0       0
47  2007   6447005.0  100870038.0       0
48  2008   7103829.0   98724712.0       0
49  2009   7558189.0   93965172.0       0
50  2010   8269334.0   97515551.0       0
51  2011   9174397.0   96852601.0       0
52  2012   8757864.0   94367771.0       0
53  2013   9242048.0   97099401.0       0
54  2014   9600941.0   98267257.0       0
55  2015   9565096.0   97364113.0       0
56  2016  10225357.0   97230097.0       0
57  2017  11094237.0   97621515.0       0

In [21]:
# add a new column 
us_comparison_df["Comparison"] =us_comparison_df["Prod Data"] - us_comparison_df["Cons Data"]
us_comparison_df.head()

   Year  Prod Data   Cons Data  Status  Comparison
0  1960  2928205.0  45033606.0       0 -42105401.0
1  1961  2952227.0  45684153.0       0 -42731926.0
2  1962  3117444.0  47773067.0       0 -44655623.0
3  1963  3096431.0  49605630.0       0 -46509199.0
4  1964  3225249.0  51766732.0       0 -48541483.0

In [22]:
# save the dataframe as csv
us_comparison_df.to_csv("db/us_comparison.csv")